







.display{
  
  background-color: white;
  border: 1.5px solid #4a779c;
  vertical-align: top;
  text-align: right;
  border-radius: 10px 10px 20px 10px;
}



#prueba1{
  
  border-top: 40px solid #3876a0;
  border-radius: 10px 10px 20px 10px; 
  background-color: white;
}

.textarea {
  width: 20px;
  height: 33px;
}




#cintillo{
  width: 50px;
}
#imagencentral{
  display: none;
  visibility: visible;
}
.form-login_imagen {
  display: none;
  visibility: visible;

}
.cartelera{
  display:none
}

.efa{
  display: none;
  position: absolute;
  visibility: visible;
  left: 6%;
}




.panel-default{
	
 margin-top: 20px;
 display: flex;
  align-items: center;
  justify-content: center;
} 

th, td{
	padding: 1px;
  font-size: 14px; 
  text-align: center;
}





thead{
background-color:   #6a6d6ef8;
	border-bottom: solid 1px #1b7961;
	color: white;
  
}




tr:nth-child(even){
	background-color: #ddd;
}









.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal{
  position: fixed;  left:5%;


 }
 .modal-content{
  width: auto;
  height:auto;
 
  position:relative;
  border-top: 40px solid #3876a0;
  border-bottom: 40px solid #3876a0;
  border-radius: 10px 10px 10px 10px;
  color: #313e61;
  text-decoration: none;
  font-size: 14px;
 

}      
 


.modal-header{
  border: 0px;

  }

.modal-footer{

  border: 0px;
}


/* 
*********************************************** */


 /* input[type=text]
 {
  background:white;
  border-radius: 5px;
  border-color: #a2a5a7;
  color:  rgb(32, 32, 32);
  border: 0;
}  */

.sinborder{
  background:white;
  border-radius: 5px;
  border-color: #a2a5a7;
  color:  rgb(32, 32, 32);
  border: 0; 
}
.input:focus {
  color: #6c1aef;
}








#btnRegresar_hacia_titulares{
 
  position: absolute;
  top:197px;
  left: 662px;
}




input {
  margin: 5px;
  left: 10%;
}
/* 
//SIGNOS VITALES DEL PACCIENTE/// */

.legend{

  width: auto;
  font-size: 16px;
}
fieldset {
  top: 30px;
  align-content: center;
  width: auto;
  height: auto;
  border-radius: 10px 10px 10px 10px;;
  border: 2px double #80808094;
  padding: 0.5rem 1rem;
  color: #424344;
}


#fecha_asist{
 
  border: none; 

}
.labelfechaasitencia{
   
  font-size: 14.5px;
}

.labelfechamgeneral{
  position: absolute;
  top:4px;
  left:630px; 
}
#fecha_asistencia_mgeneral{
  position: absolute;
  top: -0px;
  left:800px; 

}
.labelfecha{
 

  font-size: 14.5px;
}

#fecha_creacion{
 
  left:740px;
  border: none; 

}

.label_1ra_conslulta{
 
  font-size: 14.5px;


}

#fecha_1ra_consulta{
 
  border: none; 

}




.titulo_psicologia{
  position: absolute;
  top:-30px;

  color: rgb(247, 239, 239); 
}

.titulo_mgeneral{
  position: absolute;
  top:-30px;

  color: rgb(247, 239, 239); 
}


#fecha_asistencia{
  position: absolute;
  top:0px;
  left:570px; 
}


@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}





  #impresiond{
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(209, 205, 207);
  }
  .row{
    margin-left: 0;
    margin-right: 0;
  }


.labelimpresiond{
font-size: 14px;
  }

  .btn-xs{
    padding: 0.9rem;
  }
@media (max-width: 575.98px) {
  .btn-xs-xs{  /* Use a single, more generic class name */
    position: relative;
    top: 0px;
    left: 240px;
    padding: 0.42rem;
    background-color: #717575;  /* Use hex color for consistency */
    border-radius: 5px;
  }
}

  *{
    margin:0;
    padding:0;
    font-family:sans-serif;
}

input[type=text]{ 
  font-size: 14px;
  } 

  .btnagregar{
   
    font-size:11px;
   
  
  }

  .btnagregar_psi{

    font-size:11px;
  }
  

.observacion{
 
  width: 465px;
  height: 100px;
  background-color: white;
  
}

.observacion:focus{
  
 
  flex-direction:column;
  border-radius: 12px;  
  outline: none; 
  background-color: white;
  padding: 0px;

}
.span{
  font-size: 12px;
}
input:focus[type=text]{
  
  border-radius: 12px;  
  outline: none; 
  background-color: white;
  padding: 0px;
 
}

select {

  /* styling */
  background-color: white;
  border: thin solid rgb(127, 127, 133);

  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 0.9em;
  padding: 0.9em 1.3em 0.2em 0.3em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


/* arrows */

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, rgb(218, 218, 231) 50%),
    linear-gradient(135deg, rgb(209, 209, 226) 50%, transparent 50%),
    linear-gradient(to right, rgb(46, 141, 219), rgb(120, 154, 216));
  background-position:
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 10px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, rgb(42, 150, 117), rgb(42, 150, 117));
  background-position:
    calc(103% - 15px) 1em,
    calc(103% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}




select.round {
  background-image:
    linear-gradient(45deg, transparent 50%, rgb(128, 128, 128) 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}

select.round:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - .5em) .5em;
  background-size:
    4px 4px,
    4px 4px,
    1.4em 1.4em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}





select.minimal {
  background-image:
    linear-gradient(44deg, transparent 40%, gray 40%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
#aciones{
 
  font-size: 12.5px;
  
}
.labelimpresiond{
  font-size: 14px;
  color: #244583;
  top: 352px;
  left: 50px;
  font-size: 13px;
    }
    textarea {
      width: 100%;
      height: 83px;
      color:  rgb(29, 28, 28);
      margin-left: 0px;
      border-radius: 10px 10px 10px 10px;
      border: 1px solid rgb(114, 113, 113);
      outline: none; 
      background-color: white; 
      font-size: 13px;
    }

.texto{

  font-size: 13px;
  color: #244583;
}
.cursor{
  width: 100%;
  height: 83px;
} 
.btnActualizar{
 

  font-size:12px;
} 
.bodersueve{
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(209, 205, 207);
  /* text-align: center; */
  font-size: 14px;
  outline: none; 
}
#img_beneficiario{
  position: absolute;
  top: 170px;
  left: 768px;
  font-size: 13px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px rgba(71, 71, 71, 0.2);
 
}
.datos{
  font-size: 14.5px;
}
.bodersueve_fieldset{
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(209, 205, 207);
  
  font-size: 14px;
  outline: none; 
}

.textimpresiond{
  flex-direction: column;
  top: 16px;
  width: 530px;
  height: 23px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(165, 164, 165);
  background-color: #fffefe;
  /* text-align: center; */
  font-size: 14px;
  outline: none;

  
}
.cursor{

  font-weight: bold;
  color: #3d0e10;
}

.btnMostrar{
 
  left: 250px;
  font-size:11px;
 

}

.btnMostrar2{
  position: absolute;
  left: 360px;
  font-size:11px;
  top: 480px;

}
.btnMostrar_mi{

  left: 240px;
  font-size:11px;


}

.btnMostrar2_mi{
  position: absolute;
  left: 360px;
  font-size:11px;
  top: 595px;

}
.btnMostrar3_mi{
  position: absolute;
  left: 300px;
  font-size:11px;
  top: 595px;

}


.btnActualizar_signos{
  font-size:12px;
} 


.texto_mi{

  font-size: 13px;
  color: #244583;
}

#aciones_mi{
  
  font-size: 12px;
 

}
.btnAgregar_signos{
  font-size:12px;
} 
.btnActualizar_signos{
  font-size:12px;
} 


.titulo_mgeneral_pp{
  position: absolute;
  top:-30px;

  color: rgb(247, 239, 239); 
}
#aciones_pp{

  font-size: 12px;
 

}

#img_beneficiario_pp{
  position: absolute;
  top: 70px;
  left: 783px;
  font-size: 13px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px rgba(71, 71, 71, 0.2);
 
}
 

 .btnMostrar_pp{

  left: 240px;
  font-size:11px;


} 
/*
.btnMostrar2_pp{
  position: absolute;
  left: 330px;
  font-size:11px;
  top: 735px;

}




.btnMostrar3_pp{
  position: absolute;
  left: 340px;
  font-size:11px;
  top: 735px;

} */


.texto_pp{
 
  font-size: 13px;
  color: #244583;
}



.btnMostrar2_pp{
  position: absolute;
  left: 330px;
  font-size:11px;
  top: 580px;

}




.btnMostrar3_pp{
  position: absolute;
  left: 340px;
  font-size:11px;
  top: 580px;

}
#aciones_gb{
 
  font-size: 12px;
  

}


.texto_gb{
 
  font-size: 13px;
  color: #244583;
}

.btnMostrar_gb{
 
  left: 230px;
  font-size:11px;


}

.btnMostrar2_gb{
  position: absolute;
  left: 140px;
  font-size:11px;
  top: 600px;

}
.btnMostrar3_gb{
  position: absolute;
  left: 340px;
  font-size:11px;
  top: 600px;

}

.textarea{
  width: 20px;
  height: 33px;
}
.tamaño{
  font-size: 12px;
 
}

.observacion_gb {

 
  width: 100%;
  height: 120px;
  color:  rgb(29, 28, 28);
  margin-left: 0px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid rgb(209, 207, 207);
  outline: none; 
  background-color: white; 
  font-size: 13px;
}

.label {
  font-size: 6px;
}

.label_detalle_historia{
  position: relative;
  top:-30px;
  }
  .detalle_historia{
    height: 70px; 
  }
  #diu{
    position: relative;
   left: 10px;
  }
  #t_cobre{
    position: relative;
   left: 30px;
  }
  #mirena{
    position: relative;
   left: 35px;
  }
  
  #aspiral{
    position: relative;
   left: 32px;
  }
  #i_subdermico{
    position: relative;
   left: 32px;
  }
  
  .texto_PSICO {
  
    font-size: 13px;
    color: #244583;
  }
  
  .btnMostrar_PSICO {
   
    left: 150px;
    font-size: 10px;
 
  
  }
  #btnAgregar_signos_gb {
  
    font-size: 11px;
  }

  #aciones_Psicol {
    font-size: 12px;
  }
  #motivo_consulta {
    position: relative;
    top: 7px;
    width: 50%;
    height: 26px;
    border-radius: 5px 5px 5px 5px;
    border: 0px solid rgb(124, 123, 123);
    background-color: rgb(252, 251, 251);
    outline: none;
    font-size: 13px;
    left: -4px;
  }
  #motivo_consulta_mi {
    position: relative;
    top: 7px;
    width: 60%;
    height: 26px;
    border-radius: 5px 5px 5px 5px;
    border: 0px solid rgb(124, 123, 123);
    background-color: rgb(252, 251, 251);
    outline: none;
    font-size: 13px;
    left: -4px;
  }
  #motivo_consulta_pp {
    position: relative;
    top: 6px;
    width: 60%;
    height: 26px;
    border-radius: 5px 5px 5px 5px;
    border: 0px solid rgb(124, 123, 123);
    background-color: rgb(252, 251, 251);
    outline: none;
    font-size: 13px;
    left: -4px;
  }
  #motivo_consulta_GB {
    position: relative;
    top: 7px;
    width: 60%;
    height: 26px;
    border-radius: 5px 5px 5px 5px;
    border: 0px solid rgb(124, 123, 123);
    background-color: rgb(252, 251, 251);
    outline: none;
    font-size: 13px;
    left: -4px;
  }
    
  .horas{
    text-align: center;
      width: 8%;
      outline: none;
    }
    
    .dias{
      text-align: center;
        outline: none;
      }
    
      .observacion_reposos{
       
        width: 100%;
      }