#superior1 {
    top: -15px;
    position: absolute;
    left: 60px;
}

.superior1_form {
    width: 230px;
    height: 60px;
    border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
}