
@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}


.example{
position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 10px;
  margin-left: auto;
  margin-right: auto;
  }
  
 

 
th, td{
	padding: 2px;
  font-size:14px;
}

thead{
  background: linear-gradient(to right, #4a779c,#7e9ab1,#5f7a91);
	border-bottom: solid 1px #7d8180;
	color: white;
  font-size: 14px;
}

.display{
  
  background-color: white;
}




  .redondeado {
	border-radius: 5px;
  }
  .confondo {
	background-color: #def;
  }




.boton{

        width: 450px;
        background-color: #632432;

        }

.panel-default{
	text-align: center;
 margin-top: 20px;
 display: flex;
  align-items: center;
  justify-content: center;

} 







.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text{
   border-radius: 5px;
   border: 1px solid #39c; 
   background: rgb(240, 235, 235);
   border-radius: 5px 5px 5px 5px;
   color: #131212;
   font-size: 16px;
   padding: 5px; 
}

form fieldset {
  float: left;
  width: 94%;
 
  border-radius: 20px 10px 30px 50px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 80px 80px 50px 30px;
border: 5px double;
color: #101930;
}

.modal{
  position: fixed;  left:28%;


 }
  .modal-content{
    top:10px;
    height: 30%;
    width: 56% !important;
    border-radius: 80px 20px;
    border: double; 
  

    /* border-radius: 20px; */
  
   
  }     

.modal-dialog {
top:10px;
max-width: 60%;
height: 30%;
padding: 0;

}
.legend{
  font-size: 16px;
}

div {
  margin: .2em 0;
}

.labelcedula{
  position: absolute;
  top: 78px;
  left: 19px;
 }   

  .cedula{
  position: absolute;
  top: 78px;
  left: 92px;
 }    

.btnbotones{
  position: absolute;
  top: 78px;
  left: 260px;
}

 .nombret{

  position: absolute;
  top: 32px;
  left: 25px;
} 
.nombre{
  /* background: #e9e5e5;; */
  position: absolute;
  top: 32px;
  left: 106px;
  border: 0px;
}

.apellidot{

  position: absolute;
  top: 32px;
  left: 220px;
}
.apellido{
  /* background: #e9e5e5;; */
  position: absolute;
  top: 30px;
  left: 310px;
  border: 0px;
}


.descripciont{
  position: absolute;
  top: 54px;
  left: 26px;
} 

.descripcion{
  /* background: #e9e5e5; */
  position: absolute;
  top: 56px;
  left:310px;
  border: 0px;
} 

.labelstock{
  position: absolute;
  top: 81px;
  left: 28px;
}
 .stock{
  /* background: #e9e5e5; */
  position: absolute;
   border: 0px;
   top: 83px;
   left: 90px;
} 

.labelcantidad{
  position: absolute;
  top: 105px;
  left:550px;
}
.cantidad{
  position: absolute;
  top: 105px;
  left:645px;
}
.btnGuardarSalida{
  position: absolute;
  top: 105px;
  left:755px;
}

.labelcedulat{
  position: absolute;
  top: 112px;
  left: 17px;
 }   
.nombre_titular{
  position: absolute;
  top: 113px;
  left:91px;
  border: 0px;

}
.btnclose{
  position: absolute;
  top: -8px;
  left: 358px;
  border: 0;
  border-radius: 10px;
 
}

.btncerrarbeneficiario{
  position: absolute;
  top: -8px;
  left: 618px;
  border: 0;
  border-radius: 10px;
 
}

.botontitiular{
  border: 0;
  border-radius: 10px;
}
.botonfamiliar{
  border: 0;
  border-radius: 10px;
}

.botoncortesia{
  border: 0;
  border-radius: 10px;
}

input[type=text]{

  background: #687583f8;
  border-radius: 5px;
  border-top: px solid #017bab;
  color: rgb(53, 49, 49);} 

  #imagencentral{
    display: none;
    visibility: visible;
  }

  .form-login_imagen {
    display: none;
    visibility: visible;

  }




.cartelera{
   display:none
}

/*
.table{
  
  left: 75%;
  margin-left: -120px;
  top: 50%;
  margin-top: -300px;
} */