.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ccc;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #faf6f6;

  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
  }
  .btn-xs{
    padding: 0.42rem;
  }
  .card:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
    color: #ccc;
  }
  
  .card_amarillo{
    background: linear-gradient(to right, #4a779c, #7e9ab1, #5f7a91);
  }
  
  @media (max-width: 480px) {
    .card {
      padding: 5px;
     
      color: #ccc;
    }
  
    h2 {
      font-size: 16px;
    }
  
    li {
      font-size: 12px;
    }
  }