
#cedula::placeholder {
  position: absolute;
  top: 6px;
  left: 30px;
  color: rgb(99, 96, 96);
}

@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}


#nombre::placeholder {
  position: absolute;
  top: 6px;
  left: 30px;
  color: rgb(99, 96, 96);
}
.btn-xs{
  padding: 0.42rem;
}
#username::placeholder {
  position: absolute;
  top: 6px;
  left: 30px;
  color: rgb(99, 96, 96);
}

.cartelera{
  display:none
}

#imagencentral{
  display: none;
  visibility: visible;
}


.container{
  display: flex;
  justify-content: center;
}


.formulario{
  width: 100%;
}

 .form-login {
  margin: 0 auto;
  width: auto;
  height: auto;
  background: white;
  align-items: center;
 
  position: relative; 
  border-top: 40px solid #3876a0;
  border-radius: 20px 20px 20px 20px;
  padding: 20px 20px;

} 





.display{
  
  background-color: white;
}









body {
  font-family: 'Dosis', sans-serif;
}

.login-design {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 100vh;
}

.waves {
  background-image: url('../assets/wave.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.input-group {
  position: relative; 
  display: flex;
  align-items: center;
  top:0px;
  width: 100%;
  margin: 0 auto ;
  margin-bottom: 0.5rem; 
}
.input-fill input {
  border: none;
  border-bottom: 3px solid #848f9a;
  width: 100%;
  height: 2.3rem;
  font-size: 14px;
  padding-left: 2rem;
  line-height: 147.6%;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
/* ----BORDER DE ABAJO DE LA CAJA--- */
.input-fill input:focus {
  outline: none;
  border-color: #1a53ef;
}
/* --FONFO DE LA CAJA DE TEXTO AL MOVER EL MOUSE---- */
.input-fill input:hover {
  background-color: #e9ecef;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  width: 100%;
}

/* --COLOR DEL LABEL DE LA CAJA  ---- */
.input-fill .input-label {
 
  position: absolute;
  top: 5px;
  font-size: 14px;
  line-height: 147.6%;
  color: #777374;
  transition: top 0.2s;
  font-weight: 100;
}

/* --COLOR DEL LABEL DE LA CAJA AL MOVER EL MOUSE ---- */
.input-fill input:focus + .input-label  {
  top: 0;
  margin-bottom: 2rem;
  color: #fafdff;
}

/* --COLOR DEL ESCUDO ORIGINAL ---- */
.input-fill i {
  position: absolute;
  top: 6px;
  left: 5px;
  color: #4c5463;
  font-size: 1.5rem;
}
/* --COLOR DEL ESCUDO AL HACER CLICK---- */
/* .input-fill input:focus ~ i {
  //color: #1a76ef;
} */




.login-form a:hover {
  color: #a192b9;
}

.btn-login {
  position: relative;
 
  
  border-radius: 3rem;
  width: 45%;
  border: 1px solid rgb(55, 57, 59);
  line-height: 1.6rem;
  font-size: 1.0rem;
  background-color: rgb(87, 94, 100);
  color: #ffffff;
  padding: 0.1rem 0;
  transition: 0.3s ease-in-out all;
  font-weight: 500;
}

.btn-login:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(10, 47, 82);
}

.tipousuario{
  position: absolute;
  top: -3px;
 
  font-size: 13px;
}

.form-login_imagen {
  display: none;
  visibility: visible;

}

.login-box-msg{
  top: 90px;
  font-size: 20px;
 
}

input[type=text]{
  height: 30px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(168, 173, 182);} 
  input[type=email]{
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(168, 173, 182);} 

  input[type=password]{
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(168, 173, 182);} 