



.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;

}

@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}


.display{
  
  background-color: white;
}

.panel-default{

margin-top: 20px;
display: flex;
align-items: center;
justify-content: center;

} 


th, td{
padding: 5px;
}

thead{
background-color: #686b6a;
border-bottom: solid 1px #7d8180;
color: white;
}

tr:nth-child(even){
background-color: #ddd;
}




.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-xs{
  padding: 0.42rem;
}
.modal{
position: fixed;  left:25%;


}
.modal-content{
  top:10px;
  height: 35%;
  width: 63% !important;
  background: #b6bcc4;
  border-top: 40px solid #3876a0;
 
  border-radius: 25px;
 

    border-radius: 25px 25px 25px 25px;
}     

.modal-dialog {
top:0px;
max-width: 100%;
height: 120%;
padding: 0;
}


.modal-header {

top:10px;
right: 0;
height:27%;

font-size: 17px;

}


.modal-container{

top:10px;
right: 0;
height: 93%;

}

/* 
*********************************************** */


input[type=text]{

border-radius: 5px 5px 5px 5px;
border: 1px solid rgb(168, 173, 182);

} 


textarea {
  width: 442px;
  height: 83px;
  border-radius: 10px;
  color:  rgb(63, 25, 25);
  margin-left: 110px;
  
}

.textarea{
color: rgb(63, 25, 25);} 



textarea::placeholder {
color:  rgb(63, 25, 25);
font-size: 1.2em;
font-style: italic;
}

.texto{
  font-size: 13.5px;
  font-weight:bold;
}


span {
line-height: 80px;
}



.cartelera{
display:none
}
.table{

left: 95%;
margin-left: -0px;
top: 50%;
margin-top: -300px;
}

th, td {
height: 0%;
} 
#imagencentral{
display: none;
visibility: visible;
}
.form-login_imagen {
display: none;
visibility: visible;

}

#btnActulizarCortesia{

position: absolute;
top:-8px;
left: 650px;
}
#btnCerrarCortesia{

position: absolute;
top:-8px;
left: 550px;
}

.labeltelefono{

position: absolute;
top:230px;
left: 570px;
}
#telefono{

position: absolute;
top:227px;
left: 670px;
}

.labelsexo{
position: absolute;
top:232px;
left: 880px;
}

#sexo{
position: absolute;
top:232px;
left: 930px;
}
select {

/* styling */
background-color: white;
border: thin solid rgb(127, 127, 133);

border-radius: 4px;
display: inline-block;
font: inherit;
line-height: 0.9em;
padding: 0.9em 1.0em 0.3em 0.3em;

/* reset */

margin: 0;      
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-appearance: none;
-moz-appearance: none;
}


/* arrows */

select.classic {
background-image:
  linear-gradient(45deg, transparent 50%, rgb(218, 218, 231) 50%),
  linear-gradient(135deg, rgb(209, 209, 226) 50%, transparent 50%),
  linear-gradient(to right, rgb(46, 141, 219), rgb(120, 154, 216));
background-position:
  calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  100% 0;
background-size:
  5px 5px,
  5px 5px,
  2.5em 2.5em;
background-repeat: no-repeat;
font-size: 12px
}

select.classic:focus {
background-image:
  linear-gradient(45deg, white 50%, transparent 50%),
  linear-gradient(135deg, transparent 50%, white 50%),
  linear-gradient(to right, rgb(42, 150, 117), rgb(42, 150, 117));
background-position:
  calc(100% - 15px) 1em,
  calc(100% - 20px) 1em,
  100% 0;
background-size:
  5px 5px,
  5px 5px,
  2.5em 2.5em;
background-repeat: no-repeat;
border-color: grey;
outline: 0;
}




select.round {
background-image:
  linear-gradient(45deg, transparent 50%, rgb(128, 128, 128) 50%),
  linear-gradient(135deg, gray 50%, transparent 50%),
  radial-gradient(#ddd 70%, transparent 72%);
background-position:
  calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - .5em) .5em;
background-size:
  5px 5px,
  5px 5px,
  1.5em 1.5em;
background-repeat: no-repeat;
}

select.round:focus {
background-image:
  linear-gradient(45deg, white 50%, transparent 50%),
  linear-gradient(135deg, transparent 50%, white 50%),
  radial-gradient(gray 70%, transparent 72%);
background-position:
  calc(100% - 15px) 1em,
  calc(100% - 20px) 1em,
  calc(100% - .5em) .5em;
background-size:
  5px 5px,
  5px 5px,
  1.5em 1.5em;
background-repeat: no-repeat;
border-color: green;
outline: 0;
}





select.minimal {
background-image:
  linear-gradient(45deg, transparent 50%, gray 50%),
  linear-gradient(135deg, gray 50%, transparent 50%),
  linear-gradient(to right, #ccc, #ccc);
background-position:
  calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - 2.5em) 0.5em;
background-size:
  5px 5px,
  5px 5px,
  1px 1.5em;
background-repeat: no-repeat;
}

select.minimal:focus {
background-image:
  linear-gradient(45deg, green 50%, transparent 50%),
  linear-gradient(135deg, transparent 50%, green 50%),
  linear-gradient(to right, #ccc, #ccc);
background-position:
  calc(100% - 15px) 1em,
  calc(100% - 20px) 1em,
  calc(100% - 2.5em) 0.5em;
background-size:
  5px 5px,
  5px 5px,
  1px 1.5em;
background-repeat: no-repeat;
border-color: green;
outline: 0;
}


select:-moz-focusring {
color: transparent;
text-shadow: 0 0 0 #000;
}

/* 
*********************************************** */



input[type=text]{


border-radius: 5px 5px 5px 5px;
font-size: 14px;

outline: none; 
background-color: white;

} 

.sinborder{
  height: 30px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(209, 205, 207);

} 

.table{ 
left: 95%;
margin-left: -0px;
top: 50%;
margin-top: -300px;
}
th, td {
height: 0%;
} 

