


  img {
   
    border-radius: 50%;
    

  }

  .modal{
    position: fixed;  left:3%;
    }
    .modal-content{
      color: #313e61;
      top:10px;
      height: auto;
      width: auto;
      position:relative;
      border-top: 40px solid #3876a0;
      border-radius: 10px 10px 10px 10px;
      color: #313e61;
      font-size: 14px;
      border-bottom: 30px solid #3876a0;
     
    }   
  #persona{
    display: flex;
    align-items: center;
    justify-content: center;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
  }
 
  #imagencentral{
    display: none;
    visibility: visible;
  }
  .form-login_imagen {
    display: none;
    visibility: visible;
  
  }

  .cartelera{
    display:none
 }

