#imagencentral{
  display: none;
}

.form-login_imagen {
  display: none;
  visibility: visible;

}

@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}

.img_center{
  display: table;
  margin-right: auto;
  margin-left: auto;
}
.cartelera{
  display:none
}
.form-login {
    width: 430px;
    height: 310px;
    
    margin: auto;
    margin-top: -12px;
padding: 20px 20px;
    
    border-top: 40px solid #3876a0;
    border-radius: 10px 10px 10px 10px;
    color: #313e61;
    text-decoration: none;
    font-size: 12px;

  }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: arial;
    background-image: url('bg.png');
  }

  .form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }

  .controls {
    width: 100%;
    border: 1px solid #babfc2;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: white;
    font-size: 14px;
    
  }

  .buttons {
    width: 100%;
    height: 40px;
    background:  #3876a0;
    border: none;
    color: white;
    margin-bottom: 16px;
  }
  

  input[type=email ]{
 
    background: #deecf5f8;
    border-radius: 5px;
  
   } 
    
    