
@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}


#imagencentral{
  display: none;
  visibility: visible;
}

.form-login_imagen {
  display: none;
  visibility: visible;

}


.display{
  
  background-color: white;
}
.panel-default{

margin-top: 20px;
display: flex;
align-items: center;
justify-content: center;

} 

th, td{
	padding: 2px;
  font-size: 13px;
}

thead{
  color: white;
  font-size: 14px;
}

tr:nth-child(even){
background-color: #ddd;
}




.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-xs{
  padding: 0.42rem;
}
.modal{
position: fixed;  left:3%;


}
.modal-content{
  color: #313e61;
  
  
  top:10px;
  height: auto;
  width: auto;
  position:relative;
  border-top: 40px solid #3876a0;
  border-bottom: 40px solid #3876a0;
  border-radius: 10px 10px 10px 10px;
  color: #313e61;

  font-size: 14px;
  border-bottom: 30px solid #3876a0;
 
}     

.modal-dialog {
top:0px;

padding: 0;
}


.modal-header {

top:10px;
right: 0;


font-size: 17px;

}



.modal-container{

top:10px;
right: 0;
height: 3%;

}

.modal-footer{
border: 0px;
}
/* 
*********************************************** */




.table{

left: 95%;
margin-left: 0px;
top: 50%;
margin-top: -300px;
}

th, td {
height: 0%;
} 
.categoria{

  position: absolute;
  top: 10px;
  left: 120px;
}

.labelcontrol{

  position: absolute;
  top: 60px;
  left: 19px;
}

.descripcion{

  position: absolute;
  top: 17px;
  left: 149px;
}

.activo{

  position: absolute;
  top:290px;
  left: 80px;
}

.borrado{

  position: absolute;
  top:296px;
  left:138px;
}



.labelespecialidad{

  position: absolute;
  top:250px;
  left: 79px;
}
#especialidad{
  position: absolute;
  top:240px;
  left: 170px;
}

.btnactivo{
  border: 0;
  border-radius: 10px;
}

.btnbloqueado{
  border: 0;
  border-radius: 10px;
}

.btnAgregar{
  border-radius: 10px;
  position: absolute;
  top:1px;
  left: -90px;
}

.btnRegresar{
  border-radius: 10px;
  position: absolute;
  top:1px;
  left: -0px;
}
.cartelera{
  display:none
}


@media (max-width: 575.98px) {
  .btn-xs-xs{  /* Use a single, more generic class name */
    position: relative;
    top: 0px;
    left: 240px;
    padding: 0.42rem;
    background-color: #717575;  /* Use hex color for consistency */
    border-radius: 5px;
  }
}
 
.input-group {
  position: relative;
  left: -40px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 0.8rem;
  border: 1px;
}

.input-fill input {


  width: 100%;
  height: 2.3rem;
  font-size: 1.0625rem;
  padding-left: 2rem;
  line-height: 147.6%;
 
  padding-bottom: 0.5rem;
  font-size: 14px;
}


input[type=text]{

 
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(209, 205, 207);
  font-size: 14px;
  
  outline: none; 
  background-color: white;
  
} 







/* ----BORDER DE ABAJO DE LA CAJA--- */
.input-fill input:focus {
  outline: none;
  border-color: #1a6fef;
}
/* --FONFO DE LA CAJA DE TEXTO AL MOVER EL MOUSE---- */
.input-fill input:hover {
  background-color: #e9ecef;
}


/* --COLOR DEL LABEL DE LA CAJA  ---- */
.input-fill .input-label {
  position: absolute;
  top: 5px;
  left: 35px;
  line-height: 147.6%;

  transition: top 0.2s;
  font-weight: 500;
}

/* --COLOR DEL LABEL DE LA CAJA AL MOVER EL MOUSE ---- */
.input-fill input:focus + .input-label  {
  top: 0;
  margin-bottom: 2rem;
  color: #fafdff;
}

/* --COLOR DEL ESCUDO ORIGINAL ---- */
.input-fill i {
  position: absolute;
  top: 6px;
  left: 5px;

  font-size: 1.5rem;
}
/* --COLOR DEL ESCUDO AL HACER CLICK---- */
/* .input-fill input:focus ~ i {
  color: #6c1aef;
} */





.login-form a:hover {
  color: #447adf;
}