

@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}
.container {
 
  justify-content:center;
  align-items: center;

}

 .usuarios{
  opacity: 0.4;
  display: block;
}
.usuarios:hover {
  display: block;
  cursor: not-allowed;
}

.reportes{
  opacity: 0.4;
}
.reportes:hover {
  cursor: not-allowed;
}

/* .inventario{
  opacity: 0.4;
}
.inventario:hover {
  cursor: not-allowed;
} */
.auditoria{
  opacity: 0.4;
}
.auditoria:hover {
  cursor: not-allowed;
}

z

.Entrada:not(:disabled):not(.disabled) {
  cursor: pointer;
  pointer-events: none;
  opacity: 0.4;
}

.btn-xs{
  padding: 0.42rem;
}

