.login-card-body {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  .login-card-body h2 {
    color: #333;
  }
  
  .login-card-body input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }
  
  .login-card-body button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .login-card-body button:hover {
    background-color: #45a049;
  }
  
  .login-card-body p {
    margin-top: 10px;
  }
  
  .login-card-body a {
    color: #007bff;
  }