
@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}

.cartelera{
  display:none
}


@media (max-width: 575.98px) {
  .btn-xs-xs{  /* Use a single, more generic class name */
    position: relative;
    top: 0px;
    left: 240px;
    padding: 0.42rem;
    background-color: #717575;  /* Use hex color for consistency */
    border-radius: 5px;
  }
}
#imagencentral{
  display: none;
  visibility: visible;
}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;

}

/* #container{
  width: 90%;
  max-width: 1024px;
}


body{width:90%;margin: 0 auto 0 auto; min-width:600px;max-width:2000px} */

th, td{
	padding: 2px;
  font-size: 13px;
}

thead{
  color: white;
  font-size: 14px;
}


.btn-xs{
  padding: 0.42rem;
}

.modal{
  position: fixed;  left:5%;
 
 }
   .modal-content{
    align-items: center;
    justify-content: center;
    width: auto;
    height:auto;
    position:relative;
    border-top: 40px solid #3876a0;
    border-radius: 10px 10px 10px 10px;
    color: #313e61;
    text-decoration: none;
    font-size: 14px;
  }      

 
  .legend{

  width: auto;
  font-size: 16px;
}
fieldset {
  top: 30px;
  align-content: center;
  width: auto;
  height: auto;
  border-radius: 10px 10px 10px 10px;;
  border: 2px double #80808094;
  padding: 0.5rem 1rem;
  color: #424344;
}

.modal-header {
 border: 0px;

} 

.modal-footer{
  border: 0px;
}
/* 
*********************************************** */
 input[type=text]{
 

  border-radius: 5px 5px 5px 5px;
  font-size: 14px;
  
  outline: none; 
  background-color: white;
  
  } 

  .sinborder{
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(209, 205, 207);

  } 
  
.display{ 
  font-size: 200px;
  left: -50px;

} 


select {

  /* styling */
  background-color: white;
  border: thin solid rgb(127, 127, 133);

  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 0.9em;
  padding: 0.9em 1.3em 0.2em 0.3em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
tr:nth-child(even){
	background-color: #ddd;
}  
.display{
  
  background-color: white;
}
/* arrows */

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, rgb(218, 218, 231) 50%),
    linear-gradient(135deg, rgb(209, 209, 226) 50%, transparent 50%),
    linear-gradient(to right, rgb(46, 141, 219), rgb(120, 154, 216));
  background-position:
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 10px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  font-size: 12px
}

select.classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, rgb(42, 150, 117), rgb(42, 150, 117));
  background-position:
    calc(103% - 15px) 1em,
    calc(103% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}




select.round {
  background-image:
    linear-gradient(45deg, transparent 50%, rgb(128, 128, 128) 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}

select.round:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - .5em) .5em;
  background-size:
    4px 4px,
    4px 4px,
    1.4em 1.4em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}





select.minimal {
  background-image:
    linear-gradient(44deg, transparent 40%, gray 40%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}


 .btnsolvente{
  border: none;
  text-align: center;
  border-radius: 5px;
  color: black;
 }

 .btnalerta{
color: red;
 }

 .table{
position: relative;
left: -70px;
 }