
@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}

#imagencentral{
  display: none;
  visibility: visible;
}
.form-login_imagen {
  display: none;
  visibility: visible;

}
.cartelera{
  display:none
}
.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;

}


@media (max-width: 575.98px) {
  .btn-xs-xs{  /* Use a single, more generic class name */
    position: relative;
    top: 0px;
    left: 240px;
    padding: 0.42rem;
    background-color: #717575;  /* Use hex color for consistency */
    border-radius: 5px;
  }
}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;

}



.panel-default{
	
 margin-top: 20px;
 display: flex;
  align-items: center;
  justify-content: center;

} 
th, td{
	padding: 2px;
  font-size: 13px;
}

thead{
  color: white;
  font-size: 14px;
}
.display{
  
  background-color: white;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal{
  position: fixed;  left:5%;


 }
 .modal-content{
  align-items: center;
  justify-content: center;
  width: auto;
  height:180px;;
 

  border-top: 40px solid #3876a0;

  border-radius: 10px 10px 10px 10px;
  color: #313e61;
  text-decoration: none;
  font-size: 14px;
 

}  




.modal-container{

top:20px;
right: 0;
height: 93%;

}

/* 
*********************************************** */


 input[type=text]{
 
  background: #fafbfcf8;
	border-radius: 5px;
  border-top: px solid #017bab;
  color: rgb(63, 25, 25);} 



th, td {
height: 0%;
} 


#btnAgregar_familiar{
 
  position: absolute;
  top:197px;
  left: 562px;
}

h5{
  position: absolute;
  top:-25px;
  left: 120px;
  color: white;
  font-size: 20px;
}

.labelfecha{
 
  position: absolute;
  top:17px;
  left: 350px;
}

#fecha_del_dia{
 
  position: absolute;
  top:17px;
  left: 400px;
}

.sinborder{
  background:white;
  border-radius: 5px;
  border-color: #a2a5a7;
  color:  rgb(32, 32, 32);
  border: 0; 
}

.labeltitulo{
 
  position: absolute;
  top:45px;
  left: 100px;
}
#nombrepellidoT{
 
  position: absolute;
  top:55px;
  left: 202px;
}
.labelCedula{
 
  position: absolute;
  top:102px;
  left: 380px;
}
#cedulaT{
 
  position: absolute;
  top:100px;
  left: 452px;
}



.labelfechaNacimiento{
 
  position: absolute;
  top:102px;
  left: 12px;
}
#fecha_nacimiento{
 
  position: absolute;
  top:100px;
  left: 202px;
}



.labelhistorial{
 
  position: absolute;
  top:60px;
  left: 822px;
}


#numeroHistorial{
 
  position: absolute;
  top:55px;
  left: 950px;
}





.labelEdad{
 
  position: absolute;
  top:102px;
  left: 562px;
}

#edad{
 
  position: absolute;
  top:100px;
  left: 620px;
}
.labelbeneficiario{
  position: absolute;
  top:105px;
  left: 740px;
}
#Tbenficiario{
  position: absolute;
  top:100px;
  left: 890px;
}



.labeldepartamento{
 
  position: absolute;
  top:145px;
  left: 15px;
}

#departamento{
  position: absolute;
  top:145px;
  left: 200px;
}
.btn-xs{
  padding: 0.42rem;
}
#btnRegresar_hacia_titulares{
 
  position: absolute;
  top:197px;
  left: 662px;
}
#btnCerrar{
 
  position: absolute;
  top:90px;
  left: 400px;
}
#btnGuardar{
 
  position: absolute;
  top:90px;
  left: 322px;
}

#habitos_psicosociales{
 
  position: absolute;
  top:45px;
  left: 182px;
}

.labelhabitos{
 
  position: absolute;
  top:52px;
  left: 15px;
  font-size:15px ;
}

