@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}


#imagencentral{
  display: none;
  visibility: visible;
}
.form-login_imagen {
  display: none;
  visibility: visible;

}
.cartelera{
  display:none
}

.efa{
  display: none;
  position: absolute;
  visibility: visible;
  left: 6%;
}

label{
  font-size: 14px;
}
z

.bodersueve{
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(209, 205, 207);
  text-align: center;
  font-size: 14px;
  outline: none; 
}


th, td{
	padding: 2px;
  font-size: 13px;
}

thead{
  color: white;
  font-size: 14px;
}
/* .btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding:0.10rem;
    background-color: brown;
} */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal{
position:fixed;
left: 140px;


 }
  .modal-content{
    align-items: center;
    justify-content: center;
   
    width: 110%;
    height:auto;
   
    position:relative;
    border-top: 40px solid #3876a0;
    border-bottom: 40px solid #3876a0;
    border-radius: 10px 10px 10px 10px;
    color: #313e61;
    text-decoration: none;
    font-size: 14px;
   
  }    

#consultas{

  align-items: center;
  justify-content: center;
}
.modal-header{
  border: 0px;

  }

.modal-footer{

  border: 0px;
}


/* 
*********************************************** */

.labelfecha{
  position: absolute;
  top:-6px;
  left:460px; 
}

#fecha_del_dia{
  position: absolute;
  top: -7px;
  left:610px; 
  background-color: #f5f5f5;
  

}

#Tbenficiario{
  position: absolute;
  top: 40px;
  left:620px; 

}

#table_consulta_citas{
  position: relative;
left: -80px;
top: 20px;
}
.display{
  
  background-color: white;
}


.btn-md{
  position: relative;
  top: 30px;
  left: 240px;
  background-color: rgb(105, 107, 107);
  border-radius: 5px;
  font-size: 13px;
  }




#btnAgregar_familiar{
 
  position: absolute;
  top:197px;
  left: 562px;
}

    .btnalerta{
      text-align:center;
      justify-content:center;
      border: 0;
      border-radius: 10px;
      color: rgb(5, 5, 5);
      
    }
    
    .btn-xs{
      padding: 0.42rem;
    }
@media (max-width: 575.98px) {
  .btn-xs-xs{  /* Use a single, more generic class name */
    position: relative;
    top: 0px;
    left: 240px;
    padding: 0.42rem;
    background-color: #717575;  /* Use hex color for consistency */
    border-radius: 5px;
  }
}
    
    
   
    /* .btnconfirmarcita{

     padding:0.100rem;
    

    } */
   
    /* .dataTables_filter {
      position: absolute;
      left: 780px;
      top: 25px;
      } */

      .vm{
        font-size: 13px;
      }