@media screen and (max-width: 768px) {
    /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
    /* Estilos para escritorios */
}

#imagencentral {
    display: none;
    visibility: visible;
}

.form-login_imagen {
    display: none;
    visibility: visible;
}

.cartelera {
    display: none
}

.efa {
    display: none;
    position: absolute;
    visibility: visible;
    left: 6%;
}

label {
    font-size: 14px;
}

.btn-xs {
    padding: 0.10rem;
}

th,
td {
    padding: 2px;
    font-size: 13px;
}

thead {
    color: white;
    font-size: 14px;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal{
    position: absolute;
    left: 7%;
    align-items: center;
   
  
   }
    .modal-content{
      align-items: center;
    justify-content: center;
    width: auto;
    height:auto;
   
    position:relative;
    border-top: 10px solid #3876a0;
    border-radius: 10px 10px 10px 10px;
    color: #313e61;
    text-decoration: none;
    font-size: 14px;
    }     
  

.display {
    background-color: white;
}

#table_morbilidad {
    position: relative;
    left: -50px;
    top: 20px;
}

th.dt-center,
td.dt-center {
    text-align: center;
}

#consultas {
    align-items: center;
    justify-content: center;
}

.modal-header {
    border: 0px;
}

.modal-footer {
    border: 0px;
}


/* 
*********************************************** */

.labelfecha {
    position: absolute;
    top: -6px;
    left: 460px;
}

#fecha_del_dia {
    position: absolute;
    top: -7px;
    left: 610px;
    background-color: #f5f5f5;
}

#Tbenficiario {
    position: absolute;
    top: 40px;
    left: 620px;
}


@media (max-width: 575.98px) {
    .btn-xs-xs{  /* Use a single, more generic class name */
      position: relative;
      top: 0px;
      left: 240px;
      padding: 0.42rem;
      background-color: #717575;  /* Use hex color for consistency */
      border-radius: 5px;
    }
  }

#btnAgregar_familiar {
    position: absolute;
    top: 197px;
    left: 562px;
}

#btnRegresar_hacia_titulares {
    position: absolute;
    top: 197px;
    left: 662px;
}

.legend {
    width: auto;
    font-size: 16px;
}

fieldset {
    top: 30px;
    align-content: center;
    width: auto;
    height: auto;
    border-radius: 10px 10px 10px 10px;
    ;
    border: 2px double #80808094;
    padding: 0.5rem 1rem;
    color: #424344;
}

input {
    border: 1px;
    border-radius: 5px 5px 5px 5px;
    color: black;
    font-size: 14px;
}

input::placeholder {
    color: rgb(5, 5, 5);
    font-size: 15px;
}

.vm {
    height: 35px;
    border-color: rgb(152, 172, 172);
}


/* 
//SIGNOS VITALES DEL PACCIENTE/// */

.btn-xs{
    padding: 0.42rem;
  }

#labelenfermedad_actual:hover {
    cursor: pointer;
}

#labelealergias_medicamentos:hover {
    cursor: pointer;
}

#labeleatecedentespatologicosf {
    cursor: pointer;
}

#labeleatecedentesquirurgicos {
    cursor: pointer;
}

#labeleatecedentespatologicosp {
    cursor: pointer;
}

#labelexamenfisico {
    cursor: pointer;
}

#labelparaclinicos {
    cursor: pointer;
}

#labelimpresiondiagnostica {
    cursor: pointer;
}

#labelplan {
    cursor: pointer;
}

textarea {
    width: 1098px;
    height: 100px;
    border-radius: 10px;
    color: rgb(32, 32, 32);
    margin-left: 2px;
}

.textarea {
    color: rgb(32, 32, 32);
    background: #fafbfcf8;
}

textarea::placeholder {
    color: rgb(32, 32, 32);
    font-size: 1.2em;
    font-style: italic;
    background: #fafbfcf8;
}

.content {
    width: 170%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: flex-start;
}

.content-collapse {
    position: absolute;
    left: -0%;
    margin: -30px;
    padding: 40px;
    width: 1200px;
    height: auto;
    border: 0px solid rgb(20, 20, 20);
}

.content-collapse section:nth-child(n) {
    text-align: justify;
    position: relative;
    background-color: white;
}

.content-collapse section:nth-child(n) button {
    /* margin:5px 5px 5px 5px;
  padding:5px 10px 5px 10px;
  border-style:none;
  background:#787978;*/
    color: rgb(42, 66, 99);
    cursor: pointer;
    border: 0;
}

.texto_expandir {
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
}

.abrir_cerrar {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}


/* 
.btn.btn-xs{
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
} */

.descripcion_especialidad {
    position: absolute;
    text-align: center;
    background-color: #f5f5f5;
    top: 0px;
    left: 630px;
    font-size: 18px;
    color: rgb(5, 26, 87);
}


/* 
.btn-expandir{
  border-radius: 50px 50px 50px 50px;
} */

#motivo_consulta {
    width: 50%;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(124, 123, 123);
    background-color: rgb(250, 246, 246);
    outline: none;
}

.labelimpresiond {
    font-size: 14px;
    top: 352px;
    left: 50px;
    font-size: 13px;
}

.bodersueve {
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(209, 205, 207);
    text-align: center;
    font-size: 14px;
    outline: none;
}

.ocultar_signos {
    display: none;
}

.vm {
    font-size: 13px;
}

#filtrocortesia {
    position: relative;
    top: -31px;
    left: -95px;
}