
@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}


#imagencentral{
  display: none;
  visibility: visible;
}

.form-login_imagen {
  display: none;
  visibility: visible;

}
.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;

}
.display{
  
  background-color: white;
}


th, td{
	padding: 2px;
  font-size: 13px;
}

thead{
  color: white;
  font-size: 14px;
}



.panel-default{

margin-top: 20px;
display: flex;
align-items: center;
justify-content: center;

} 




tr:nth-child(even){
background-color: #ddd;
}




.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.modal{
  position: fixed;  left:5%;


 }
 .modal-content{
  align-items: center;
  justify-content: center;
  width: auto;
  height:auto;
 

  border-top: 40px solid #3876a0;
  border-bottom: 40px solid #3876a0;
  border-radius: 10px 10px 10px 10px;
  color: #313e61;
  text-decoration: none;
  font-size: 14px;
 

}  

.modal-header{
  border: 0px;
}


.modal-footer{
border: 0px;
}
/* 
*********************************************** */

input[type=text]{
 

  border-radius: 5px 5px 5px 5px;
  font-size: 13px;
  
  outline: none; 
  background-color: white;
  
  } 

  .sinborder{
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(209, 205, 207);

  } 

.table{

left: 95%;
margin-left: 0px;
top: 50%;
margin-top: -300px;
}


.categoria{

  position: absolute;
  top: 10px;
  left: 120px;
}

.labelcontrol{

  position: absolute;
  top: 60px;
  left: 19px;
}



.activo{

  position: absolute;
  top:80px;
  left: 17px;
}

.borrado{

  position: absolute;
  top:84px;
  left: 73px;
}

.btnactivo{
  border: 0;
  border-radius: 10px;
}

.btnbloqueado{
  border: 0;
  border-radius: 10px;
}

.btnAgregar{
  border-radius: 10px;
  position: absolute;
  top:1px;
  left: -90px;
}

.btnRegresar{
  border-radius: 10px;
  position: absolute;
  top:1px;
  left: -0px;
}
.cartelera{
  display:none
}

#descripcion_especialidad{
  position:absolute;
  text-align: center;
  background-color: #f5f5f5;
  top: -5px;
  left: 637px;
  font-size: 17px;
  color: rgb(5, 26, 87);
  border: none;
}

.btn-xs{
  padding: 0.42rem;
}

@media (max-width: 575.98px) {
  .btn-xs-xs{  /* Use a single, more generic class name */
    position: relative;
    top: 0px;
    left: 240px;
    padding: 0.42rem;
    background-color: #717575;  /* Use hex color for consistency */
    border-radius: 5px;
  }
}

  #P_atendidos{
    display: block;
    width: 20%;
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-family: Arial;
  }
  #P_no_atendidos{
    display: block;
    width: 20%;
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-family: Arial;
  }